@import url(https://fonts.googleapis.com/css?family=Arimo);
body {
	background-color: #272b33;
	font-family: 'Arimo', sans-serif;
	line-height: 1.3em;
	letter-spacing: 0.04em;
	color: #ffffff;
}

#container {
	width: 100%;
}

#container:before,
#container:after {
  content:"";
  display: table ;
  clear:both;
}

header{
	background-color: #ffed74;
	border: 1px black solid;
	float: left;
	width: 20%;
}
nav{
	background-color: #E8C66A;
	border: 1px black solid;
	width: 40%;
	margin-left: 20%;
	display: block;
}
section{
	background-color: #FFE2B8;
	float: right;
	width: 40%;
}
